= render 'shared/side'
.main
  .main-header
    .main-header__box
      %h2.main-header__box__current-group
        = @group.name
      %ul.main-header__box__member-list
        Member：
        - @group.members.each do |member|
          %li.main-header__box__member-list__member
            = member.user.nickname
    = link_to edit_group_path(@group), method: :get ,class: "main-header__edit" do
      .main-header__edit-btn Edit
  .messages
    .messages__scroll
      = render @messages
  .form
    = form_for [@group, @message], html: {class: 'input'} do |f|
      .input-box
        = f.text_field :body, class: 'input-box__text',id: 'message_content',placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = link_to group_messages_path(format: :csv),class: 'input-box__link'do
          = fa_icon 'file', class: 'input-box__link-icon'

      = f.submit 'Send', class: 'submit-btn'

